<div class="hydraulic-cylinder-container">
    <ion-list>
        <ion-item>
            <ion-label floating>Number Of Cylinders</ion-label>
            <ion-input [(ngModel)]="numCylinders"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Stroke</ion-label>
            <ion-input [(ngModel)]="stroke"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Force</ion-label>
            <ion-input [(ngModel)]="force"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>PSIG</ion-label>
            <ion-input [(ngModel)]="psig"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Time</ion-label>
            <ion-input [(ngModel)]="time"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label>Bore</ion-label>
            <p>
                {{ 1 + 1 }}
            </p>
        </ion-item>
    </ion-list>
</div>